html, body {
  background-image: url("photos/animal-background.jpeg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: burlywood;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  background-color: tan;
  opacity: 90%;
  position: sticky;
  border-bottom: 4px black solid;
}
.make-post {
  align-items: left;
  font-size: 20px;
  font-family: 'papyrus', fantasy;
  color: black;
  text-decoration: none
}
.head {
  align-items: center;
  font-size: 40px;
  font-family: 'papyrus', fantasy;
  color: black;
  text-decoration: none
}
.links {
  align-items: right;
  font-size: 20px;
  font-family: 'papyrus', fantasy;
}
.link {
  text-decoration: none;
  color: black;
}
.homepage {
  border: 4px beige solid;
  height: 250px;
  width: 1100px;
  background-color: tan;
  opacity: 90%;
  margin: 0 auto;
}
.home-content {
  font-family: 'papyrus', fantasy;
  color: white;
  display:flex;
  align-items: center;
  flex-direction: column;
  opacity: 100%;
}
.create-post, .list-container, .login-container {
  border: 4px beige solid;
  height: 250px;
  width: 1100px;
  background-color: tan;
  opacity: 90%;
  margin: 0 auto;
}
.detail-container {
  border: 4px beige solid;
  height: 250px;
  width: 1100px;
  background-color: tan;
  opacity: 90%;
  margin: 0 auto;
  position: relative;
}
.post-detail {
  font-family: 'papyrus', fantasy;
}
.detail-image {
  display: flex;
  height: 250px;
  width: 250px;
  position:absolute;
  top: 0px;
  right: 0px;
}
.detail-btns{
  position: absolute;
  bottom:0;
  left:0;

}
.edit {
  background-color: blue;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}
.delete-btn {
  background-color: red;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.comments {
  border: 4px beige solid;
  height: 450px;
  width: 1100px;
  background-color: tan;
  opacity: 90%;
  margin: 0 auto;
}
.create-comment {
  border: 4px beige solid;
  height: 125px;
  width: 1100px;
  background-color: tan;
  opacity: 90%;
  margin: 0 auto;
}
.edit-container {
  border: 4px beige solid;
  height: 450px;
  width: 1100px;
  background-color: tan;
  opacity: 95%;
  margin: 0 auto;
}
.signup-container {
  border: 4px beige solid;
  height: 450px;
  width: 1100px;
  background-color: tan;
  opacity: 95%;
  margin: 0 auto;
}